.app {
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
}

.main {
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("./assets/bg.jpg") center;
    display: flex;
    flex-direction: column;

}

.userName {
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
}

.top {
    height: 50%;
    position: relative;
}

.time {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 80px;
}

.bottom {
    height: 50%;
}

.quiz {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question {
    width: 80%;
    background: linear-gradient(#100241, black);
    border: 2px solid #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.answer {
    width: 40%;
    text-align: center;
    padding: 12px;
    background: linear-gradient(#0e0124, #22074d);
    border-radius: 15px;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 320;
    margin: 0 10px 20px 10px;
    cursor: pointer;
}

/* Wrong correct */
.answer:hover,
.answer.active {
    background: blue;
}

.answer.correct {
    animation: correct 3s ease forwards;
}

@keyframes correct {
    0%,22%,42% {
        background: mediumblue;
    }

    20%,40%,60% {
        background: linear-gradient(#0e0124, #22074d);

    }
    62%,100%{
        background: green;
    }
}

/* End text */
.endTxt{
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.tower {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneyList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.answer.wrong {
    animation: wrong 3s ease forwards;
}

@keyframes wrong {
    0%,22%,42% {
        background: mediumblue;
    }

    20%,40%,60% {
        background: linear-gradient(#0e0124, #22074d);

    }
    62%,100%{
        background: rgb(194, 25, 25);
    }
}

.tower {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneyList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.moneyListItem {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
}

.moneyListItem.active {
    background-color: teal;
}

.number {
    font-size: 18px;
    font-weight: 300;
    width: 30%;
}

.amount {
    font-size: 20px;
    font-weight: 400;
}

/* Start input */
.start {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    left: 0;
    /* bottom: 0; */
    margin: auto;
}

.startInput {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
.startButton {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}